<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Lamers_project</servlet-name>
		<servlet-class>edu.uwm.lamers.Lamers_projectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lamers_project</servlet-name>
		<url-pattern>/lamers_project</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmailServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.EmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailServlet</servlet-name>
		<url-pattern>/email</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ClassListServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ClassListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ClassListServlet</servlet-name>
		<url-pattern>/ClassList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentInfoServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.StudentInfoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>StudentInfoServlet</servlet-name>
		<url-pattern>/StudentInfo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ClearServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ClearServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ClearServlet</servlet-name>
		<url-pattern>/clear</url-pattern>
	</servlet-mapping>	
	

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CreateStudentServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateStudentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateStudentServlet</servlet-name>
		<url-pattern>/CreateStudent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateDemoServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateDemoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateDemoServlet</servlet-name>
		<url-pattern>/CreateDemo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateInstructorServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateInstructorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateInstructorServlet</servlet-name>
		<url-pattern>/CreateInstructor</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewInstructorsServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ViewInstructorsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewInstructorsServlet</servlet-name>
		<url-pattern>/ViewInstructors</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AssignDemoServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.AssignDemoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AssignDemoServlet</servlet-name>
		<url-pattern>/AssignDemo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AssignAwardServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.AssignAwardServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AssignAwardServlet</servlet-name>
		<url-pattern>/AssignAward</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewCoursesServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ViewCoursesServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewCoursesServlet</servlet-name>
		<url-pattern>/ViewCourses</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewStudentsServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ViewStudentsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewStudentsServlet</servlet-name>
		<url-pattern>/ViewStudents</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewStudentBalanceServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ViewStudentBalanceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewStudentBalanceServlet</servlet-name>
		<url-pattern>/ViewStudentBalance</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewRevenueServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ViewRevenueServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewRevenueServlet</servlet-name>
		<url-pattern>/ViewRevenue</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EnrollStudentServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.EnrollStudentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EnrollStudentServlet</servlet-name>
		<url-pattern>/EnrollStudent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateCourseServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateCourseServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateCourseServlet</servlet-name>
		<url-pattern>/CreateCourse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditCourseServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.EditCourseServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EditCourseServlet</servlet-name>
		<url-pattern>/EditCourse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateAdminServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateAdminServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateAdminServlet</servlet-name>
		<url-pattern>/SuperSecretCreateAdmin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.WelcomeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/Welcome</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateFamilyServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateFamilyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateFamilyServlet</servlet-name>
		<url-pattern>/CreateFamily</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateAwardServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateAwardServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateAwardServlet</servlet-name>
		<url-pattern>/CreateAward</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddFamilyMemberServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.AddFamilyMemberServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AddFamilyMemberServlet</servlet-name>
		<url-pattern>/AddFamilyMember</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RemoveFamilyMemberServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.RemoveFamilyMemberServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RemoveFamilyMemberServlet</servlet-name>
		<url-pattern>/RemoveFamilyMember</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EnrollFamilyServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.EnrollFamilyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EnrollFamilyServlet</servlet-name>
		<url-pattern>/EnrollFamily</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewFamilyServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ViewFamilyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewFamilyServlet</servlet-name>
		<url-pattern>/ViewFamily</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AttendanceServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.AttendanceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AttendanceServlet</servlet-name>
		<url-pattern>/Attendance</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MakePaymentServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.MakePaymentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MakePaymentServlet</servlet-name>
		<url-pattern>/MakePayment</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>Welcome</welcome-file>
	</welcome-file-list>
</web-app>
