<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Lamers_project</servlet-name>
		<servlet-class>edu.uwm.lamers.Lamers_projectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lamers_project</servlet-name>
		<url-pattern>/lamers_project</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CreateStudentServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateStudentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateStudentServlet</servlet-name>
		<url-pattern>/CreateStudent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateInstructorServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateInstructorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateInstructorServlet</servlet-name>
		<url-pattern>/CreateInstructor</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewInstructorsServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ViewInstructorsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewInstructorsServlet</servlet-name>
		<url-pattern>/ViewInstructors</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewCoursesServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ViewCoursesServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewCoursesServlet</servlet-name>
		<url-pattern>/ViewCourses</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewStudentsServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.ViewStudentsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewStudentsServlet</servlet-name>
		<url-pattern>/ViewStudents</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EnrollStudentServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.EnrollStudentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EnrollStudentServlet</servlet-name>
		<url-pattern>/EnrollStudent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateCourseServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateCourseServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateCourseServlet</servlet-name>
		<url-pattern>/CreateCourse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreateAdminServlet</servlet-name>
		<servlet-class>edu.uwm.lamers.CreateAdminServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateAdminServlet</servlet-name>
		<url-pattern>/SuperSecretCreateAdmin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>
